@use "../variables" as *;
.add {
  &__header {
  }

  &__form {
    padding: 14px 0;

    @include tablet {
      padding: 7px 0;
    }

    @include laptop {
      padding: 31px 0;
    }

    @include desktop {
      padding: 0;
    }
  }

  &__container {
    @include mobile {
      padding: 0 12px;
    }

    @include laptop {
      max-width: 698px;
    }
  }

  &__fieldset {
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    color: $light;
    margin-bottom: 8px;

    @include laptop {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 15px;
  }

  &__step {
    font-size: 14px;
    line-height: 1;
    color: $secondary;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include laptop {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    padding-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: $light;

    @include tablet {
      padding-left: 16px;
    }

    @include laptop {
      font-size: 14px;
    }
  }

  &__text {
    margin-bottom: 25px;
    border: 1px solid $secondary;
    border-radius: 10px;
    background-color: $light;
    width: 100%;
    height: 70px;
    padding: 8px;
    font-size: 18px;

    &_area {
      margin-bottom: 0;

      min-height: 120px;
      resize: none;
      font-size: 14px;
    }
  }

  &__btn {
    border-radius: 8px;
    padding: 10px;
    color: $light;
    background-color: $primary;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    height: 50px;
    max-width: 320px;
    width: 100%;

    &:focus-visible {
      border-color: $light;
    }
  }

  &__footer {
    // @include tablet {
    //   background-color: transparent;
    // }
  }
}
