@use "../variables" as *;

.fields {
  display: flex;
  justify-content: space-between;

  &__block {
    position: relative;
    z-index: 3;

    @include laptop {
      min-width: 142px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.3;
    color: $light;
    background-color: transparent;
    border: 0;
    transition: color $transition;

    &:hover {
      color: $primary;
    }

    @include laptop {
      font-size: 14px;
      width: 100%;
    }
  }

  &__btn_sort {
  }

  &__btn_filter {
  }

  &__text {
  }

  &__list {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    width: max-content;
    min-width: 100%;
    background-color: $light;
    color: $dark;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);

    @include laptop {
      top: calc(100% + 20px);
    }

    &_active {
      display: block;
    }
  }

  &__list_sort {
    left: 0;
    @media (max-width: 375px) {
      left: -8px;
    }
  }

  &__list_filter {
    right: 0;
    @media (max-width: 375px) {
      right: -8px;
    }

    @include laptop {
      display: block;
    }
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    background-color: $secondary;
    border-radius: 16px;
    border: 1px solid transparent;
    padding: 8px;
    font-size: 12px;
    line-height: 1;
    outline: none;
    transition: background-color $transition, border-color $transition,
      color $transition;

    &:focus-visible {
      border-color: $secondary;
    }

    &:hover {
      background-color: $secondary-dark;
      color: $light;
    }

    &:active {
      border-color: $primary;
    }

    &_selected {
      background-color: $primary;
    }
  }
}
