@use "../variables" as *;
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;

  @media (max-height: 500px) {
    width: auto;
    right: 0;
    padding: 20px;
    background-color: transparent;
  }
  &__btn {
  }
}
