@use "../variables" as *;

.library {
  &__header {
    position: relative;
    margin-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 174px;
      height: 174px;
      top: -63px;
      left: -66px;
      z-index: 1;
      background: #ff0000;
      filter: blur(150px);

      @include tablet {
        content: none;
      }
    }
  }

  &__titles {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  &__count {
    font-weight: 400;
    font-size: 14px;
    color: $secondary;
    margin-bottom: 25px;
  }

  &__fields {
  }

  &__list-container {
    @media (max-width: 375px) {
      padding: 0 12px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 26px;
  }

  &__item {
  }

  &__link {
  }

  &__add-btn {
    color: $primary;
    background-color: transparent;
    border: 0;
    width: 44px;
    height: 44px;
  }
}

.header {
  &__container {
  }

  &__logo {
  }

  &__btn-add {
  }

  &__btn {
    &_search {
    }
  }
}
