@use "../variables" as *;

.search {
  $height: 40px;
  $top: 8px;
  width: 100%;
  position: absolute;
  right: 0;
  top: -$top - $height;
  transition: transform $transition;

  @include tablet {
    // $top: 20px;
    max-width: 462px;
  }

  @include laptop {
    // $top: 33px;
    max-width: 580px;
  }

  @include desktop {
    // $top: 43px;
  }

  &_active {
    transform: translateY($top * 2 + $height);
  }

  &__container {
    position: relative;
  }

  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    height: $height;
    padding: 3px 40px 3px 15px;
    border-radius: 20px;
    background-color: $light;
    border: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline-color $transition;

    &:focus-visible {
      outline-color: $secondary-dark;
    }
  }

  &__btn {
    position: absolute;
    right: 54px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    color: $dark;
    transition: color $transition;
    width: 24px;
    height: 24px;

    &:hover {
      color: $primary;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}
