@use "../variables" as *;

.star {
  &__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1px;
  }

  &__radio {
    position: absolute;
    appearance: none;
  }

  &__icon {
    width: 36px;
    height: 36px;
    background-image: url("/img/star-o.svg");
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
  }

  &__icon:hover,
  &__icon:hover ~ &__icon,
  &__radio:checked ~ &__icon {
    background-image: url("/img/star.svg");
  }
}
