@use "../variables" as *;

.upload {
  max-width: 222px;
  margin: 0 auto 15px;

  &__label {
    display: block;
    width: 222px;
    height: 290px;
    background-image: url("/img/upload.jpg");
    border-radius: 6px;
    cursor: pointer;

    &_active {
      background-image: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__preview {
    display: none;
  }

  &__file {
    display: none;
  }
}
